.panel-message {
    position: fixed;
    top: 15px;
    right: 0;
    z-index: 100000;
    display: none;
    font: 700 16px / 1 $font;
    &__item {
        min-height: 70px;
        padding: 10px 0 10px 10px;
        display: flex;
        align-items: center;
        margin: 0 0 20px;
        animation-duration: .5s !important;
        transition: .3s background ease;
        cursor: pointer;
        user-select: none;
		color: #fff;
        border-radius: 15px 0 0 15px;
        background: #34D64E;
        visibility: hidden;
        opacity: 0;
        width: 290px;
        &--error {
            background: $orange;
            &:hover {
                background: $orangeD !important;
            }
        }
		&:hover {
			background: #27a33b;
		}
    }
    span {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
		position: relative;
        flex-shrink: 0;
    }
	&__inner {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: 767px) {
    .panel-message {
        font-size: 14px;
        &__item {
            margin: 0 0 8px;
            min-height: 50px;
            padding: 10px 0;
        }
        span {
            width: 40px;
            img {
                max-width: 20px;
                max-height: 20px;
            }
        }
    }   
}