.jaw-item {
    &--2 {
        transform: translate(92.4px, 91.81px);
        width: 22px;
        .tooth {
            // transform: translate(.8px, 1px);
            transform: translate(.4px, .8px);
        }
        &.normal {
            .border {
                height: 30px;
            }
        }
        &.implant {
            transform: translate(98.5px, 81.5px);
            width: 11.5px;
        }
        &.abatment {
            .tooth {
                transform: translate(-8.5px, 0);
            }
        }
        &.small {
            transform: translate(92.8px, 114.7px);
        }
        &.retinirovannyj {
            top: -22px;
            left: -1px;
        }
        &.ustanovka_implantata,
        &.abatment {
           .tooth {
               left: 3px;
           } 
        }
        &.kostnaya_plastika {
            .tooth {
                left: -1px;
                top: -1px;
            }
        }

        //step1
        &.poterya_kosti {
            .tooth {
                transform: translate(0, -14.2px);
            }
        }
        
        &.nalet,
        &.zubnoj_kamen,
        &.karies_prisheechnyj,
        &.vestibulyarnyj,
        &.koronka_razrushena,
        &.treshina_nizhe_desny,
        &.pulpit,
        &.lechenie_kanalov_udovlit {
            .tooth {
                transform: translate(-.6px, .8px);
            }
        }
        &.podvizhnost_zubov {
            .tooth {
                transform: translate(.2px, 1px);
            }
        }
        &.krovotochivost,
        &.gnoj {
            .tooth {
                transform: translate(-.7px, 1px);
            }
        }
        &.lechenie_kanalov_neudovlit {
            .tooth {
                transform: translate(.4px, .5px);
            }
        }
        &.slomannyj_instrument {
            .tooth {
                transform: translate(.4px, -.7px);
            }
        }
        &.wax_up {
            .tooth {
                transform: translate(-.3px, .1px);
            }
        }
        &.kornevaya_vkladka,
        &.build_up {
            .tooth {
                transform: translate(.3px, .6px);
            }
        }
        &.elajner {
            .tooth {
                transform: translate(-1.6px, .8px);
            }
        }

        &.apikalnyj_periodontit {
            .visual {
                top: -2px;
                left: -1px;
            }
        }
        
        &.brekety {
            .visual {
                transform: translate(.5px, 27.5px);
            }
        }

        &.mini_implant {
            .visual {
                top: -6px;
                right: -1px;
            }
        }

        &.retejner {
            .visual {
                transform: translate(0, 27px);
            }
        }

        &.semnyj_protez {
            .visual {
                transform: translate(-.8px, 0);
            }
        }

        &.plastika_desny {
            .visual {
                transform: translate(1.3px, 15.1px);
            }
        }

        &.poterya_kosti {
            transform: translate(92.9px, 105px);
        }
    }
}