.jaw-item {
    &--22 {
        transform: translate(189.53px, 194px);
        width: 17px;
        .tooth {
            // transform: translate(1px, 0);
            transform: translate(0, 0);
        }
        &.implant {
            transform: translate(192.5px, 196px);
            width: 10.87px;
        }
        &.abatment,
        &.abatment_implant {
            .tooth {
                transform: translate(-3.5px, 0);
            }
        }
        &.small {
            transform: translate(190.3px, 169px);
        }
        &.retinirovannyj {
            top: 8px;
        }
        &.ustanovka_implantata,
        &.abatment_implant,
        &.abatment {
            .tooth {
                left: -2px;
            }
        }
        &.kostnaya_plastika {
            .tooth {
                left: -2.5px;
                bottom: -1px;
            }
        }

        // step1
        &.poterya_kosti {
            .tooth {
                transform: translate(2px, -8px);
            }
        }

        &.nalet,
        &.zubnoj_kamen,
        &.podvizhnost_zubov {
            .tooth {
                transform: translate(0, 0);
            }
        }
        &.parodontalnye_karmany {
            .tooth {
                transform: translate(0, -.8px);
            }
        }
        &.krovotochivost,
        &.gnoj {
            .tooth {
                transform: translate(-1.2px, -.5px);
            }
        }
        &.karies_mezialnyj,
        &.karies_distalnyj,
        &.karies_yazychnyj,
        &.treshina_do_desny,
        &.treshina_nizhe_desny,
        &.koronka_razrushena,
        &.vestibulyarnyj,
        &.karies_prisheechnyj,
        &.pulpit,
        &.lechenie_kanalov_udovlit,
        &.perelom_kornya,
        &.kyuretazh,
        &.vremennaya_koronka {
            .tooth {
                transform: translate(-.3px, -.2px);
            }
        }
        &.karies_oklyuzionnyj {
            .tooth {
                transform: translate(-.1px, -.8px);
            }
        }
        &.lechenie_kanalov_neudovlit,
        &.slomannyj_instrument {
            .tooth {
                transform: translate(-.4px, 0);
            }
        }
        &.gingivit {
            .tooth {
                transform: translate(-1.2px, .6px);
            }
        }
        &.wax_up {
            .tooth {
                transform: translate(-.6px, -.4px);
            }
        }
        &.elajner {
            .tooth {
                transform: translate(-1px, 0);
            }
        }
        
        &.apikalnyj_periodontit {
            .visual {
                left: -1px;
            }
        }

        &.brekety {
            .visual {
                transform: translate(.5px, -16.8px);
            }
        }

        &.mini_implant {
            .visual {
                bottom: 0;
                right: 1px;
            }
        }

        &.retejner {
            .visual {
                transform: translate(.5px, -17.8px);
            }
        }

        &.semnyj_protez {
            .visual {
                transform: translate(-.1px, 2.7px);
            }
        }

        &.kornevaya_vkladka,
        &.build_up {
            .tooth {
                transform: translate(-.4px, -.6px);
            }
        }

        &.plastika_desny {
            .visual {
                transform: translate(-2.2px, -4.4px);
            }
        }

        &.poterya_kosti {
            transform: translate(186.2px, 169px);
        }
    }
}