.jaw-item {
    &--29 {
        transform: translate(313.2px, 188.15px);
        width: 17px;
        .tooth {
            // transform: translate(-1.9px, -.3px);
            transform: translate(-4px, -.3px);
        }
        &.implant {
            transform: translate(316px, 188.5px);
            width: 10.7px;
        }
        &.abatment {
            .tooth {
                transform: translate(-3.5px, 0);
            }
        }
        &.small {
            transform: translate(310.3px, 166.9px);
        }
        &.retinirovannyj {
            top: 21px;
            left: .5px;
        }
        &.kornevaya_vkladka,
        &.build_up {
            .tooth {
                transform: translate(-.4px, .2px);
            }
        }
        &.ustanovka_implantata,
        &.abatment {
            .tooth {
                left: -2px;
            }
        }
        &.kostnaya_plastika {
            .tooth {
                left: -.5px;
                bottom: -1px;
            }
        }

        // step1
        &.poterya_kosti {
            .tooth {
                transform: translate(-2.5px, 9.3px);
            }
        }

        &.krovotochivost,
        &.gnoj,
        &.podvizhnost_zubov {
            .tooth {
                transform: translate(-3.5px, -.4px);
            }
        }   

        &.nalet,
        &.zubnoj_kamen,
        &.parodontalnye_karmany,
        &.karies_mezialnyj,
        &.karies_distalnyj,
        &.karies_yazychnyj,
        &.treshina_do_desny,
        &.treshina_nizhe_desny,
        &.vestibulyarnyj,
        &.karies_prisheechnyj,
        &.pulpit,
        &.lechenie_kanalov_udovlit,
        &.perelom_kornya,
        &.viniry,
        &.nakladka,
        &.vkladka,
        &.kyuretazh,
        &.vremennaya_koronka {
            .tooth {
                transform: translate(-4.3px, -.7px);
            }
        }
        &.koronka_razrushena {
            .tooth {
                transform: translate(-3.2px, -.7px);
            }
        }
        &.karies_oklyuzionnyj {
            .tooth {
                transform: translate(-3.3px, -.7px);
            }
        }
        &.lechenie_kanalov_neudovlit {
            .tooth {
                transform: translate(-3.5px, -.1px);
            }
        }
        &.slomannyj_instrument {
            .tooth {
                transform: translate(-3.5px, -.1px);
            }
        }
        &.gingivit {
            .tooth {
                transform: translate(-4.3px, -.5px);
            }
        }
        &.elajner {
            .tooth {
                transform: translate(-6.3px, -.7px);
            }
        }

        &.apikalnyj_periodontit {
            .visual {
                left: 8px;
            }
        }

        &.brekety {
            .visual {
                transform: translate(-2.7px, -13.8px);
            }
        }

        &.mini_implant {
            .visual {
                bottom: -2px;
                left: 0;
            }
        }

        &.retejner {
            .visual {
                transform: translate(-2.5px, -16px);
            }
        }

        &.semnyj_protez {
            .visual {
                transform: translate(-1.1px, 7px);
            }
        }

        &.plastika_desny {
            .visual {
                transform: translate(-3px, -3.3px);
            }
        }

        &.poterya_kosti {
            transform: translate(309.7px, 167.8px);
        }
    }
}