@import '../_global.scss';

@import '../_menup.scss';

@import '../_global-panel-admin.scss';

@import '_start.scss';

@import '_faq.scss';

@import '../home/_form.scss';

.form {
    padding: 80px 0 0;
    .title {
        font-size: 40px;
    }
    &__form {
        margin: 60px 0 0;
    }
    .input {
        input, textarea {
            background: none;
        }
    }
}

@media all and (max-width: 1200px) {
    .form {
        padding: 50px 0 0;
        &__form {
            margin: 22px 0 0;
        }
    }
}

@media all and (max-width: 767px) {
    .form {
        padding: 40px 0 0;
        .title {
            font-size: 30px;
        }
        &__form {
            margin: 10px 0 0;
        }
    }
}

@import '_account.scss';

@import '_steps.scss';

@import '_jaw.scss';

@import '_tabs.scss';

@import '_patients.scss';

@import '_info.scss';

@import '_plans.scss';

@import '_settings.scss';

@import '_new-document.scss';

@import '../_footer.scss';

@import '_date.scss';

@import '_ok.scss';

@import '../_msg.scss';

@import '../_modal.scss';